In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('student.db')
type(conn)

sqlite3.Connection

In [8]:
c = conn.cursor()

In [10]:
c.execute("""CREATE TABLE info(
                name TEXT,
                studentid INTEGER PRIMARY KEY NOT NULL,
                dob TEXT,
                address TEXT,
                gender TEXT
                )""")

In [11]:
conn.commit()

In [12]:
manyusers = [
                ('John Brown',111,'01-01-1985','Austin, TX','male'),
                ('John Green',222, '07-02-1985','Long Island, NY','male'),
                ('Helga Schwarz', 333, '01-03-1986','Berlin, DE', 'female'),
                ('Ken Buru', 444, '08-04-1990','Tokyo, JP', 'male'),
                ('Maria Giallo', 555, '10-17-1983', 'Rome, IT', 'female')
            ]

In [13]:
c.executemany("INSERT INTO info VALUES(?,?,?,?,?)", manyusers)

In [14]:
conn.commit()

In [18]:
c.execute("""PRAGMA foreign_keys=ON""")

In [19]:
conn.commit()

In [20]:
c.execute("""CREATE TABLE scores(
                studentid INTEGER,
                course_code TEXT,
                score REAL,
                FOREIGN KEY(studentid) REFERENCES info(studentid)
                )""")

In [21]:
conn.commit()

In [22]:
manyscores = [
                (111, 'CHEM101', 75.2),
                (111, 'PHY101',  80.5),
                (111, 'MATH101', 90.2),
                (222, 'MATH101', 98.2),
                (222, 'PHY101',  26.5),
                (222, 'MATH101', 93.2),
                (333, 'CHEM101', 64.2),
                (333, 'MATH101', 74.5),
                (444, 'MATH101', 76.2),
                (555, 'CHEM101', 15.2),
                (555, 'PHY101',  12.5)
]

In [23]:
c.executemany("INSERT INTO scores VALUES (?,?,?)", manyscores)

In [24]:
conn.commit()

In [25]:
c.execute("SELECT * FROM info")

In [26]:
c.fetchall()

[('John Brown', 111, '01-01-1985', 'Austin, TX', 'male'),
 ('John Green', 222, '07-02-1985', 'Long Island, NY', 'male'),
 ('Helga Schwarz', 333, '01-03-1986', 'Berlin, DE', 'female'),
 ('Ken Buru', 444, '08-04-1990', 'Tokyo, JP', 'male'),
 ('Maria Giallo', 555, '10-17-1983', 'Rome, IT', 'female')]

In [28]:
c.execute("SELECT * FROM info") 
for each in c.fetchall():
    for each_element in each: 
        print(each_element)
    print("\n")

John Brown
111
01-01-1985
Austin, TX
male


John Green
222
07-02-1985
Long Island, NY
male


Helga Schwarz
333
01-03-1986
Berlin, DE
female


Ken Buru
444
08-04-1990
Tokyo, JP
male


Maria Giallo
555
10-17-1983
Rome, IT
female