In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('student.db')
type(conn)

sqlite3.Connection

In [8]:
c = conn.cursor()

In [10]:
c.execute("""CREATE TABLE info(
                name TEXT,
                studentid INTEGER PRIMARY KEY NOT NULL,
                dob TEXT,
                address TEXT,
                gender TEXT
                )""")

In [11]:
conn.commit()

In [12]:
manyusers = [
                ('John Brown',111,'01-01-1985','Austin, TX','male'),
                ('John Green',222, '07-02-1985','Long Island, NY','male'),
                ('Helga Schwarz', 333, '01-03-1986','Berlin, DE', 'female'),
                ('Ken Buru', 444, '08-04-1990','Tokyo, JP', 'male'),
                ('Maria Giallo', 555, '10-17-1983', 'Rome, IT', 'female')
            ]

In [13]:
c.executemany("INSERT INTO info VALUES(?,?,?,?,?)", manyusers)

In [14]:
conn.commit()

In [18]:
c.execute("""PRAGMA foreign_keys=ON""")